/*========CV=========*/
.container{width: 800px;overflow: hidden;margin: 0 auto;/*margin-top: 50px;margin-bottom: 50px;*/}
.cv_left{background: #1bbc9b;width: 30%;padding: 20px;overflow: hidden;height: 1050px;}
.cv_right{background: #f1f1f1;width: 65%;padding: 20px;overflow: hidden;height: 1050px;}

.cv_left .photo{width: 100%;margin-top: 15px;}
.cv_left figure{display: block;margin:0 auto;text-align: center;}
.cv_left figure img{width: 100px;height: 100px;border-radius: 50%;}
.cv_left figure figcaption{line-height: 25px;font-size: 20px;color: #fff;font-weight: bold;}
.cv_left .introduce{border-top: 2px #16977d solid;width: 100%;text-align: center;margin-top: 20px;padding: 10px 0;}
.cv_left .introduce p{line-height: 20px;font-size: 16px;color:#16977d;}
.cv_left .introduce h1{line-height: 30px;font-size: 20px;color:#006954;}
.cv_left .my_skill{border-top: 1px #16977d solid;width: 100%;}
.cv_left .my_skill .skill_list{list-style: none;overflow: hidden;margin-top: 15px;}
.cv_left .my_skill .skill_list li{position: relative;width: 100%;height: 15px;line-height: 15px;margin-top: 5px;overflow: hidden;font-size: 12px}
.cv_left .my_skill .skill_list .skill_item{position: absolute;left:0;top:0;width:70px;color: #fff;text-align: right;}
.cv_left .my_skill .skill_list .skill_handle{height:10px;margin-left: 80px;border-radius: 5px;background: #16977d;overflow: hidden;}
.cv_left .my_skill .skill_list .handle{width: 100%;height:10px;border-bottom-left-radius: 5px;border-top-left-radius: 5px;display: block;position: absolute;left: 0;top: 0;background: #fff;}
.cv_left .my_skill .skill_list .w80{width: 80%;}
.cv_left .my_skill .skill_list .w75{width: 75%;}
.cv_left .my_skill .skill_list .w70{width: 70%;}
.cv_left .my_skill .skill_list .w60{width: 60%;}
.cv_left .my_skill .skill_list .w50{width: 50%;}
.cv_left .my_skill .skill_list .w40{width: 40%;}
.cv_left .my_skill .skill_list .w30{width: 30%;}
.cv_left .my_text{width: 100%;margin-top: 15px;color: #047a62;font-size: 14px;line-height: 20px;text-align: justify;}

.cv_left .contect{position: absolute;bottom: 15px;left: 0;width: 100%;}
.cv_left .contect .contect_list{list-style: none;overflow: hidden;}
.cv_left .contect .contect_list li{overflow: hidden;line-height: 25px;height: 25px;padding-left: 10%;}
.cv_left .contect .contect_list li .icon{width: 15px;height: 15px;border-radius: 50%;vertical-align: middle;margin-top: -1px;margin-right: 10px;}
.cv_left .contect .contect_list li .text{color: #fff;font-size: 14px;}

.cv_right .experience{width: 100%;margin-top: 15px;}
.cv_right .teach{position: absolute;bottom: 15px;}
.cv_right .company{margin-top: 40px;color: #2d2d2d;}
.cv_right .experience .title{width: 100%;}
.cv_right .experience .title .txt_title{font-size: 25px;font-weight: bold;color: #6b6b6b;line-height: 25px;}
.cv_right .experience .title .href{color: #1bbc9b;}
.cv_right .experience .title .href a{color: #1bbc9b;text-decoration: underline;}
.cv_right .project{width: 100%;margin-top: 20px;}
.cv_right .project .pro_title .pro_txt{font-size: 20px;color: #1bbc9b;font-weight: bold;line-height: 25px;}
.cv_right .project .pro_title .txt_com{font-size: 14px;color: #999;line-height: 25px;}
.cv_right .project .pro_title .pro_skill{line-height: 25px;}
.cv_right .project .pro_title .pro_skill .point{display: inline-block;background: #1bbc9b;color: #fff;text-align: center;padding: 0 5px;height: 25px;}
.cv_right .project .pro_title .pro_skill .and{display: inline-block;background: #006954;width: 10px;height: 5px;}
.cv_right .project .pro_content{line-height: 20px;margin-top: 5px;color: #2d2d2d}
.cv_right .project .pro_foot{line-height: 20px;color: #999;}
.cv_right .experience .school_name{font-size: 20px;color: #1bbc9b;font-weight: bold;line-height: 40px;height: 40px;margin-top: 10px;}
.cv_right .experience .school_time{font-size: 14px;color: #1bbc9b;line-height: 25px;}
.cv_right .experience .major{font-size: 18px;color: #2d2d2d;line-height: 30px;}
.cv_right .experience .school_content{color: #666;line-height: 18px;font-size: 16px;}
.cv_right .experience .school_content .txt_green{color: #1bbc9b;line-height: 35px}



/*=============index==============*/
.section{text-align: center;color: #fff;background: #1bbc9b;}
.section h3{font-size: 75px;line-height: 100px;/*font-weight:bold;*/text-shadow: 1px 2px #22c3aa,2px 4px #aee2d9;font-family: "华文琥珀";}
.section .animate_left{ position: relative; left: -120%;}
.section .animate_right{ position: relative; right: -120%;}
.section .animate_bottom{ position: relative; bottom: -120%;}
.section4 p { display: none;}
.section1 .personal{text-align: center;}
.section1 .personal .icon_mine{margin: 0 auto;}
.section1 .personal .icon_mine img{width: 180px;height: 180px;border-radius: 50%;border:10px solid rgba(255,255,255,0.5);box-shadow:#fff 1px 1px 20px;}
.section1 .personal .icon_mine figcaption{font-size: 75px;line-height: 100px;/*font-weight:bold;*/text-shadow: 1px 2px #22c3aa,2px 4px #aee2d9;font-family: "华文琥珀";}
.section1 .personal .txt_introduce{color: #aee2d9;font-size: 24px;line-height: 32px;}
.section1 .personal .position{font-size: 32px;font-weight: bold;line-height: 64px;}
.section1 .personal .email{font-size: 24px;color: #008a75;line-height: 32px;}
.section2 .project_list{margin: 0 auto;width: 500px;}
.section2 .project_list ul{list-style: none;overflow: hidden;}
.section2 .project_list ul li{overflow: hidden;vertical-align: middle;margin-top: 20px;}
.section2 .project_list .pro_icon{float: left;width: 80px;}
.section2 .project_list .pro_icon img{width: 78px;height: 78px;border-radius: 50%;}
.section2 .project_list .pro_index{float: left;width: 400px;vertical-align: middle;margin-left: 20px;text-align: left;}
.section2 .project_list .pro_index h4{font-size: 26px;color: #008a75;}
























.section1 .personal .icon_mine img:hover{
	 -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-animation:play 10s linear infinite;
    -moz-animation:play 10s linear infinite;
    animation:play 10s linear infinite;
}
@-webkit-keyframes play{
    0% {
        /*顺时针旋转*/
        -webkit-transform:rotate(0deg);
    }
    100% {
        
        /*顺时针旋转*/
        -webkit-transform:rotate(360deg);
    }
}
@-moz-keyframes play{
    0% {
        -moz-transform:rotate(0deg);
    }
    100% {
        -moz-transform:rotate(360deg);
    }
}
@keyframes play{
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}






.cv_left,.cv_right{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; -o-box-sizing:border-box;-ms-box-sizing:border-box; box-sizing:border-box;}
